/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
table, th, td {
    border: 2px solid white;
}
table {
    border-spacing: 0;
}
ul {
    list-style-type:none;
    border: 2px solid white;
    padding: 10px;
}  
.pomodoro-estimate {
    font-weight: bold;
    color: #d6c372;
    padding: 15px;
    font-size: 15px;
    border-radius: 50px;
}
body {
    background-color: black;
    color: white;
}
#add-new-todo-button {
    font-weight: bold;
    color: #d6c372;
    background-color: black;
    width: 200px;
    height: 75px;
    font-size: 30px;
}
#add-new-todo-button:hover {
    cursor:pointer;
}
a {
    color: #bec7c7;
    padding: 10px;
    text-align:center;
}
li {
    color: #d6c372;
    padding: 10px;
}
h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
}
#add-todo {
    color: white;
    font-weight: bold;
    font-size: 40px;
}
#top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.form {
    color: #bec7c7;
}
.box {
    border: 2px solid white;
    padding: 7.5px;
}
#add-new-todo-link {
    font-weight: bold;
    color: #d6c372;
    background-color: black;
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
}