    <h1>WorkShop To-Do List</h1>
            <table style="width:100%">
              <tr>
                <th> </th>
                <th>To-Do</th> 
                <th>Pomodoro Estimate</th>
                <th>Description</th>
              </tr>
              <% @todos.each do |todo|%>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/6">Tutorial</a></td> 
                <td><span class="pomodoro-estimate"><%=todo.pomodoro_estimate%> Pomodoro(s)</span></td>
                <td>
                  <%=todo.description%>
                </td>
              </tr>
              <%end%>
            </table>
    <div id="top-right">Vincent</div>
    <p>(A Pomodoro is 30 minutes long.)</p>
    <p></p>
    <a href="/todo/new" id="add-new-todo-link">Add New To-Do</a>
    <p></p>