    <h1>WorkShop To-Do List</h1>
            <table style="width:100%">
              <tr>
                <th> </th>
                <th>To-Do</th> 
                <th>Pomodoro Estimate</th>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/1">Make The Curriculum</a></td> 
                <td><span class="pomodoro-estimate">4 Pomodoros</span></td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/1">Buy Workshop Supplies</a></td> 
                <td><span class="pomodoro-estimate">3 Pomodoros</span></td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/1">Meet with the Volunteer Trainers</a></td> 
                <td><span class="pomodoro-estimate">2 Pomodoros</span></td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/1">Order food for Saturday and Sunday</a></td> 
                <td><span class="pomodoro-estimate">1 Pomodoro</span></td>
              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td><a href="/todo/show/1">Have a Great Workshop</a></td> 
                <td><span class="pomodoro-estimate">0 Pomodoros</span></td>
              </tr>
            </table>
            <ul>
                <li id="add-todo">Add To-Do:</li>
                <li>To-Do:</li>
                <li><input type="text" name="Add-Todo"></li>
                <li>Pomodoro Estimate:</li>
                <li><input type="number" name="Pomodoro Estimate"></li>
                <li><input id="add-new-todo-button" type="submit" value="Add To-Do"></li>
            </ul>
    <div id="top-right">Vincent</div>  
        <div id="new-todo-block">
            <input class="button" id="new-submit-button" type="button" placeholder>
            <input class="text-input" id="new-todo-description" type="text" placeholder>
            <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder>
    </div>
