<h1>New To-Do</h1>
<form action="/todo/create">
    <ul>
        <li id="add-todo">Add To-Do:</li>
        <li class="form">To-Do:</li>
        <li><input type="text" name="name"></li>
        <li class="form">Description:</li>
        <li><input type="text" name="description"></li>
        <li class="form">Pomodoro Estimate:</li>
        <li><input type="number" name="pomodoro_estimate"></li>
        <li><input class="button" type="submit" value="Add To-Do"></li>
    </ul>
</form>
<a href="/todos" class="box">Go Back</a>
<div class="top-right">Vincent</div>