<h1>Todo #<%=params[:id]%></h1>
        <ul style="list-style-type:none">
            <li><b>Name:</b></li>
            <li>
                <%=@todo_name%>
            </li>
            <li><b>Description:</b></li>
            <li class="indentation">
                <%=@todo_description%>
            </li>
            <li><b>Pomodoro Estimate:</b></li>
            <li class="indentation">
                <%=@pomodoro_estimate%> Pomodoros
            </li>
        <a href="/todos">Go Back</a>
        <a href="">Edit</a>
        <a href="">Delete</a>
        <div id="top-right">Vincent</div> 