<h1>Tutorial</h1>
        <ul style="list-style-type:none">
            <li><b>Name:</b></li>
            <li>
                
            </li>
            <li><b>Description:</b></li>
            <li class="indentation">
                <%=@t.description%>
            </li>
            <li><b>Pomodoro Estimate:</b></li>
            <li class="indentation">
                <%=@t.pomodoro_estimate%> Pomodoro(s)
            </li>
<a href="/todos" class="box">Go Back</a>
<a href="/todo/edit//<%=@t.id%>" class="box">Edit</a>
<a href="/todo/destroy/<%=@t.id%>" class="box">Delete</a>
<div class="top-right">Vincent</div> 