<h1>Todo #<%=@t.id%></h1>
        <ul style="list-style-type:none">
            <li><b>Name:</b></li>
            <li>
                <%=@todo_name%>
            </li>
            <li><b>Description:</b></li>
            <li class="indentation">
                <%=@t.description%>
            </li>
            <li><b>Pomodoro Estimate:</b></li>
            <li class="indentation">
                <%=@t.pomodoro_estimate%> Pomodoros
            </li>
        <a href="/todos">Go Back</a>
        <a href="">Edit</a>
        <a href="">Delete</a>
        <div id="top-right">Vincent</div> 